/* styles.css for TicTacToe */

.win-line {
	position: relative; 
  	height: 0px;
  	width: 0px;
  	margin: auto;
  	border-bottom: 5px dashed orange;
  	-webkit-transform:
    	translateY(0px)
    	translateX(0px)
    	rotate(0deg); 
}

.body {
	font-family: Helvetica, Arial, sans-serif;
}

.monospace {
	font-family: monospace;
	font-size: 1.3em;
}

.initial {
	width: 700px;
	height: 400px;
	background-color: white;
	border: 3px solid #000080;
	border-radius: 15px;
	margin: auto;
	position: relative;
	top: -1200px;
	font-family: Helvetica, Arial, sans-serif;		
	text-align: center;
}

.btn {
	margin: 5px;
	font-size: 1.2em;
	border-radius: 10px;
}

.xo-choice {
	width: 40px;
}

.btn-x {
	background-color: #000080;
	color: white;
}

.btn-o {
	background-color: white;
	color: #000080;
}

.btn-human {
	background-color: #000080;
	color: white;
}

.btn-computer {
	background-color: white;
	color: #000080;
}

.first-move {
	width: 200px;
}

.start-game {
	background-color: green;
	color: white;
	font-size: 1.5em;
	border-radius: 10px;
	width: 200px;
}

.board {
	height: 640px;
	width: 640px;
	background-color: #000080;
	margin: auto;
}

table {
	width: 600px;
	position: relative;
	top: 20px;
	left: 20px;
	empty-cells: show;
	border-collapse: collapse;
	text-align: center;
	font-size: 6em;
	color: #dddddd;
	font-family: Helvetica, Arial, sans-serif;
}

tr {
	height: 200px;
}

td {
	width: 200px;
	vertical-align: center;
}

.center-col {
	border-left: 3px solid yellow;
	border-right: 3px solid yellow;
}

.center-row {
	border-top: 3px solid yellow;
	border-bottom: 3px solid yellow;
}



